@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDashboard";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <!-- MAP DATA-->
                    <div class="map-data m-b-250">
                        <h3 class="title-3 m-b-30">
                            <i class="zmdi zmdi-map"></i>Account Info
                        </h3>
                        <form action="@Url.Action("UpdateEmployee", "Account")" method="post">
                            <div class="form-group">
                                <input id="inputNik" class="au-input au-input--full hide" type="text" name="NIK" placeholder="Name" hidden>
                            </div>
                            <div class="form-group">
                                <input id="showNik" class="au-input au-input--full hide" type="text" name="showNIK" placeholder="Name" disabled>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input id="inputName" class="au-input au-input--full" type="text" name="Name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label>Email Address</label>
                                <input id="inputEmail" class="au-input au-input--full" type="email" name="Email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input id="inputPhoneNumber" class="au-input au-input--full" type="number" name="PhoneNumber" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <label>Birth Date</label>
                                <input id="inputBirthDate" class="au-input au-input--full" type="datetime" name="BirthDate" placeholder="Birth Date">
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input id="inputAddress" class="au-input au-input--full" type="text" name="Address" placeholder="Address">
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label">Gender</label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="radio">
                                            <label for="radio1" class="form-check-label ">
                                                <input type="radio" id="pria" name="Gender" value="0" class="form-check-input">Pria
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="radio2" class="form-check-label ">
                                                <input type="radio" id="wanita" name="Gender" value="1" class="form-check-input">Wanita
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Submit</button>
                        </form>
                    </div>
                    <!-- END MAP DATA-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END MAIN CONTENT-->

@section Scripts {
    <script type="text/javascript" src="~/js/account.js"></script>
}



