@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutManager";
}
<div class="mt-5">
    <select>
        <option>Modul A</option>
        <option>Modul B</option>
        <option>Modul C</option>
        <option>Modul D</option>
    </select>

    <button class="btn btn-primary">Add Modul</button>

</div>
<table id="assigntask" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Task</th>
            <th>Member</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>

<div class="mt-5">
    <button class="btn btn-primary">Add Task</button>
</div>