@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutManager";
}
<div class="mt-5 mb-5">
    <h1>Modul View</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Add Modul</button>
</div>
<div class="mb-5">
    <table id="modulTable" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Modul Name</th>
                <th scope="col">Due Date</th>
                <th scope="col">Project</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<hr />
<div>
    <h1>Task View</h1>
</div>

<button type="button" class="btn btn-primary mb-5" data-toggle="modal" data-target="#taskmodul">
    Add Task
</button>

<div class="mb-5">
    <table id="ajaxSW" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Due Date</th>
                <th scope="col">Description</th>
                <th scope="col">Modul Name</th>
                <th scope="col">Member</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>



@*=================================================  modal form insert Task   =========================================================*@

<div class="modal fade" id="taskmodul" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add New Task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation task" novalidate>
                    <div class="form-group">
                        <label>Select Modul</label>
                        <select id="modultask" class="form-control" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Task Name</label>
                        <input type="text" id="taskName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Select Member</label>
                        <select id="member" name="member[]" class="form-control" multiple required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Due Date</label>
                        <input type="date" id="datetask" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="description" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Priority</label>
                        <select id="priority" class="form-control" required>
                            <option value="0">Priority</option>
                            <option value="1">Medium</option>
                            <option value="2">Normal</option>
                        </select>
                    </div>
                    <div class="form-group float-right mt-2">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*=================================================  modal form insert modul   =========================================================*@

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Modul</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="needs-validation modul" novalidate>
                        <div>
                            <label>Project</label>
                            <input type="text" id="ProjectId" class="form-control" value="" required />
                        </div>
                        <div>
                            <label>Modul Name</label>
                            <input type="text" id="ModulName" class="form-control" value="" required />
                        </div>
                        <div>
                            <label>Due Date</label>
                            <input type="date" id="Date" class="form-control" value="" required />
                        </div>
                        <button class="btn btn-primary mt-3 float-right" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@*=================================================  modal form update modul   =========================================================*@

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Update Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="needs-validation updateModul" novalidate>
                        <div>
                            <input type="text" id="ModId" class="form-control" value="" hidden required />
                        </div>
                        <div>
                            <label>Project</label>
                            <input type="text" id="ProId" class="form-control" value="" required />
                        </div>
                        <div>
                            <label>Modul Name</label>
                            <input type="text" id="ModName" class="form-control" value="" required />
                        </div>
                        <div>
                            <label>Due Date</label>
                            <input type="date" id="DueDate" class="form-control" value="" required />
                        </div>
                        <button class="btn btn-primary mt-3 float-right" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*=================================================  modal form update Task   =========================================================*@

<div class="modal fade" id="updatetaskmodul" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add New Task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation updatetask" novalidate>
                    <input type="text" id="tId" value="" readonly hidden required/>
                    <input type="text" id="sId" value="" readonly hidden required/>
                    <div class="form-group">
                        <label>Select Modul</label>
                        <select id="modtask" class="form-control" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Task Name</label>
                        <input type="text" id="tName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Select Member</label>
                        <select id="memberTask" class="form-control" multiple required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Due Date</label>
                        <input type="date" id="updatedatetask" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="updateDesc" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Priority</label>
                        <select id="uptPrio" class="form-control" required>
                            <option id="p0" value="0">Priority</option>
                            <option id="p1">Medium</option>
                            <option id="p2" value="2">Normal</option>
                        </select>
                    </div>
                    <div class="form-group float-right mt-2">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>