@{
    ViewData["Title"] = "Assign Task";
    var id = ViewData["ProjectId"];
    Layout = "_LayoutDashboard";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingModul">
                    <h2 class="mb-0">
                        <button class="" type="button" data-toggle="collapse" data-target="#isiModul" aria-expanded="true" aria-controls="collapseOne">
                            <h1>View Module</h1>
                        </button>
                        <a href="https://localhost:44374/AsignProject/project/?id=@id" class="float-right btn btn-primary">
                            <i class="fa fa-share" aria-hidden="true"></i> View Board
                        </a>
                    </h2>
                </div>
                <div id="isiModul" class="collapse show" aria-labelledby="headingModul" data-parent="#accordionExample">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#exampleModalCenter">Add Modul</button>
                        <div class="mb-5">
                            <table id="modulTable" class="display nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Modul Name</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Due Date</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTask">
                    <h2 class="mb-0">
                        <button class="" type="button" data-toggle="collapse" data-target="#isiTask" aria-expanded="true" aria-controls="collapseOne">
                            <h1>View Task</h1>
                        </button>
                    </h2>
                </div>
                <div id="isiTask" class="collapse show" aria-labelledby="headingTask" data-parent="#accordionExample">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#taskmodul">
                            Add Task
                        </button>

                        <div class="mb-5">
                            <table id="ajaxSW" class="display nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Task Name</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Due Date</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Modul Name</th>
                                        <th scope="col">Member</th>
                                        <th scope="col">Priority</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*=================================================  modal form insert Task   =========================================================*@

<div class="modal fade " id="taskmodul" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add New Task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation task" novalidate>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Select Modul</label>
                                <select id="modultask" class="form-control" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Task Name</label>
                                <input type="text" id="taskName" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id="description" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Select Member</label>
                                <select id="member" name="member[]" class="form-control" multiple data-live-search="true" title="Choose Member..." required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Start Date</label>
                                <input type="date" id="startdate" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Due Date</label>
                                <input type="date" id="datetask" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Priority</label>
                                <select id="priority" class="form-control" required>
                                    <option value="0">Priority</option>
                                    <option value="1">Medium</option>
                                    <option value="2">Normal</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group float-right mt-2">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*=================================================  modal form insert modul   =========================================================*@

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Modul</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="needs-validation modul" novalidate>
                        <div>

                            @*<label>Project</label>
                            <select id="ProjectId" class="form-control" value="" required></select>*@
                            <input id="ProjectId" value="@id" hidden/>
                        </div>
                        <div>
                            <label>Modul Name</label>
                            <input type="text" id="ModulName" class="form-control" value="" required />
                        </div>
                        <div class="form-group">
                            <label>Start Date</label>
                            <input type="date" id="sdate" class="form-control" required />
                        </div>
                        <div>
                            <label>Due Date</label>
                            <input type="date" id="Date" class="form-control" value="" required />
                        </div>
                        <button class="btn btn-primary mt-3 float-right" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@*=================================================  modal form update modul   =========================================================*@

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Update Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="needs-validation updateModul" novalidate>
                        <div>
                            <input type="text" id="ModId" class="form-control" value="" hidden required />
                        </div>
                        <div>
                            <label>Project</label>
                            <input type="text" id="ProId" class="form-control" value="" required />
                        </div>
                        <div>
                            <label>Modul Name</label>
                            <input type="text" id="ModName" class="form-control" value="" required />
                        </div>
                        <div>
                            <label>Start Date</label>
                            <input type="date" id="uptSDate" class="form-control" value="" required />
                        </div>
                        <div>
                            <label>Due Date</label>
                            <input type="date" id="DueDate" class="form-control" value="" required />
                        </div>
                        <button class="btn btn-primary mt-3 float-right" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*=================================================  modal form update Task   =========================================================*@

<div class="modal fade " id="updatetaskmodul" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Update Task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation updatetask" novalidate>
                    <input type="text" id="tId" value="" readonly hidden required />
                    <input type="text" id="sId" value="" readonly hidden required />
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Select Modul</label>
                                <select id="modtask" class="form-control" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Task Name</label>
                                <input type="text" id="tName" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id="updateDesc" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Select Member</label>
                                <select id="memberTask" class="form-control" multiple data-live-search="true" title="Choose Member..." required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Start Date</label>
                                <input type="date" id="updatesdate" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Due Date</label>
                                <input type="date" id="updatedatetask" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Priority</label>
                                <select id="uptPrio" class="form-control" required>
                                    <option id="p0" value="0">Priority</option>
                                    <option id="p1">Medium</option>
                                    <option id="p2" value="2">Normal</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-right mt-2">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>