@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDashboard";
}


<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">overview</h2>
                    </div>
                </div>
            </div>
            @if (User.IsInRole("Manager"))
            {
                <div class="row">
                    <div class="shadow rounded card col-12 col-sm-4 pt-4 pb-4 mt-3">
                        <h5 class="text-center"> Welcome in Project TimeLine Management</h5>
                        <img src="~/img/welcome.jpg" alt="ptm">
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="d-flex py-2">
                            <p class="mr-auto pt-2">Recent Project</p>
                            <a href="@Url.Action("Index", "AsignProject")" class="btn btn-secondary btn-outline-light">View All</a>
                        </div>
                        <table class="table hover">
                            <tbody id="RecentProject">
                                <tr>
                                    <td><i class="fa fa-tasks"></i></td>
                                    <td>ProjectTimeLine</td>
                                    <td>2021-01-12</td>
                                    <td>2021-01-21</td>
                                    <td><i class="fa fa-share" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-tasks"></i></td>
                                    <td>ProjectTimeLine</td>
                                    <td>2021-01-12</td>
                                    <td>2021-01-21</td>
                                    <td><i class="fa fa-share" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-tasks"></i></td>
                                    <td>ProjectTimeLine</td>
                                    <td>2021-01-12</td>
                                    <td>2021-01-21</td>
                                    <td><i class="fa fa-share" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (User.IsInRole("SA") || User.IsInRole("BA") || User.IsInRole("Developer") || User.IsInRole("QA"))
            {
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="d-flex py-2">
                            <p class="mr-auto pt-2">Latest Task</p>
                            <a href="@Url.Action("Index", "Task")" class="btn btn-secondary btn-outline-light">View All</a>
                        </div>
                        <table class="table hover">
                            <tbody id="LatesTask">
                                <tr>
                                    <td><i class="fa fa-tasks"></i></td>
                                    <td>ProjectTimeLine</td>
                                    <td>Create Repository</td>
                                    <td>2021-01-12</td>
                                    <td><i class="fa fa-share" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-tasks"></i></td>
                                    <td>ProjectTimeLine</td>
                                    <td>Create Repository</td>
                                    <td>2021-01-12</td>
                                    <td><i class="fa fa-share" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-tasks"></i></td>
                                    <td>ProjectTimeLine</td>
                                    <td>Create Repository</td>
                                    <td>2021-01-12</td>
                                    <td><i class="fa fa-share" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card col-12 col-sm-4 pt-3">
                        <p>Last Acitivity</p>
                        <div id="LastActivity" class="card-body text-secondary timeline-area">
                            <div class="timeline-list">
                                <p>Jan 20 2021</p>
                                <p>Task Status</p>
                            </div>
                            <div class="timeline-list">
                                <p>Jan 20 2021</p>
                                <p>Task Status</p>
                            </div>
                            <div class="timeline-list">
                                <p>Jan 20 2021</p>
                                <p>Task Status</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
            
        

    

