@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLogin";
}

<div class="page-content--bge5">
    <div class="container mb-4">
        <div class="login-wrap">
            <div class="login-content">
                <div class="login-logo">
                    <a href="/Home">
                        <img src="~/img/1timeline.png" alt="CoolAdmin">
                    </a>
                </div>
                <div class="login-form">
                    <form action="/login/EmployeesView" method="post" class="needs-validation" novalidate>
                        <div class="form-group">
                            <input class="form-control" type="text" name="NIK" id="inputNik" required hidden>
                        </div>
                        <div class="form-group">
                            <label>Full Name</label>
                            <input class="form-control" type="text" name="Name" placeholder="FullName" required>
                            <div class="invalid-feedback">
                                Please input name here.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Birth Date</label>
                            <input class="form-control" type="date" name="BirthDate" placeholder="Birth Date" required>
                            <div class="invalid-feedback">
                                Please input your Birthdate.
                            </div>
                        </div>
                        <div class="">
                            <label for="gender">Gender</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="gender" name="Gender" value="0" required>
                                <label class="custom-control-label" for="gender">Pria</label>
                            </div>
                            <div class="custom-control custom-radio mb-3">
                                <input type="radio" class="custom-control-input" id="gender1" name="Gender" value="1" required>
                                <label class="custom-control-label" for="gender1">Wanita</label>
                                <div class="invalid-feedback">Please choose gender.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input class="form-control" type="number" name="PhoneNumber" placeholder="Phone Number" required>
                            <div class="invalid-feedback">
                                Please provide a valid phone number.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control" type="text" name="Address" placeholder="Address" required>
                            <div class="invalid-feedback">
                                Please provide a valid Address.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" name="Email" placeholder="Email" required>
                            <div class="invalid-feedback">
                                Please provide a valid phone Email.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" name="Password" placeholder="Password" required>
                            <div class="invalid-feedback">
                                Please input your password (min 8 character).
                            </div>
                        </div>
                        <button class="btn btn-primary w-100" type="submit">Submit</button>

                    </form>
                    <div class="register-link">
                        <p>
                            Have an account?
                            <a href="/login">Sign In Here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

